<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Keyword Extractor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Product Keyword Extractor</h1>
        <input type="text" id="urlInput" placeholder="Enter Product URL">
        <button onclick="fetchKeywords()">Extract Keywords</button>

        <div id="result">

            
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
